
*	{
	box-sizing: border-box;
}



/*--------------------
ELEMENT SELECTORS
--------------------*/

body  {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: .85em;
  font-weight: 300;
  background: url(../img/orch2.jpg) no-repeat center;
  background-size: cover;
}



a  {
	text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
	color: #fff;
}

a:focus {
	color: #fff;
}











/*--------------------
LAYOUT SELECTORS
--------------------*/

#mainContent	{
	width: 70%;
	margin: 0 auto;
}

#mainNav	{
	border: 1px solid #000;
	border-radius: 5px;
	background-color: rgba(146, 146, 146, .85);
	margin-bottom: 15px;
}

#mainNav li	{
	list-style: none;
	float: left;
	display: inline-block;
	padding: 0 10px;
	margin-bottom: 18px;
	border-right: 1px solid #000;
}

#mainNav li:last-child	{
	border-right: none;
}

#sidebar  {
	border: 1px solid #000;
	border-radius: 5px;
	background-color: rgba(58, 151, 167, .85);
	width: 20%;
  min-width: 175px;
  min-height: 355px;
  display: inline-block;
}

.selector  {
  padding: 10px 0 10px 10px;
}

#genreLegend  {
  margin-bottom: 0;
}


.genreCheckboxes  {
  width: 95%;
  margin: 0 auto;
}

.genreCheckboxes ul  {
  list-style: none;
  padding-left: 0;
}

.genreCheckboxes li  {
  padding-bottom: 10px;
}

.leftCheckboxes {
  float: left;
  width:50%;
}

.rightCheckboxes {
  float: right;
  width: 50%;
}


.filterButton {
  width: 60%;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0 auto 17px;
  padding: 5px 0;
  background-color: rgba(211, 211, 211, .85);
}

.filterButton:hover {
  color: #fff;
  background-color: rgba(169, 169, 169, .85);
}

.filterButton:focus {
  color: #fff;
  background-color: rgba(169, 169, 169, .85);
}

#songSelector {
  float: right;
  display: inline-block;
  width: 78.5%;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgba(165, 80, 46, .85);
  min-height: 355px;
}

#songSelector li  {
 list-style: none;
 /*float: left;*/
 display: inline-block;
 padding: 0 18px;
 /*margin-bottom: 18px;*/
 border-right: 1px solid #000;
}

#songSelector li:last-child  {
  border-right: none;
}

#songSelector h2  {
  padding-left: 30px;
  color: #000;
}

.album {
  font-style: italic;
}


.songInfo {
  margin-bottom: 28px;
}


.songInfo h2 {
  margin-bottom: 7px;
  font-size: 1.7em;
  font-weight: normal;
}








/*--------------------
FLOAT CLEARFIX
--------------------*/

.clearfix::after	{
	content: "";
	display: table;
	clear: both;
}

