
*	{
	box-sizing: border-box;
}




/*--------------------
ELEMENT SELECTORS
--------------------*/

body  {
  font-family: Arial;
  font-size: .85em;
}



a  {
	text-decoration: none;
}

a:hover {
	color: #fff;
}

a:focus {
	color: #fff;
}










/*--------------------
LAYOUT SELECTORS
--------------------*/

#mainContent	{
	width: 70%;
	margin: 0 auto;
}

#mainNav	{
	border: 2px solid #000;
	border-radius: 5px;
	background-color: #ffb4b0;
	margin-bottom: 15px;
}

#mainNav li	{
	list-style: none;
	float: left;
	display: inline-block;
	padding: 0 10px;
	margin-bottom: 18px;
	border-right: 2px solid #000;
}

#mainNav li:last-child	{
	border-right: none;
}

#sidebar  {
	border: 2px solid #000;
	border-radius: 5px;
	background-color: #4dd7fa;
	width: 20%;
  display: inline-block;
}

.selector  {
  padding: 10px 0 10px 10px;
}

#genreLegend  {
  margin-bottom: 0;
}


.genreCheckboxes  {
  width: 95%;
  margin: 0 auto;
}

.genreCheckboxes ul  {
  list-style: none;
  padding-left: 0;
}

.genreCheckboxes li  {
  padding-bottom: 10px;
}

.leftCheckboxes {
  float: left;
}

.rightCheckboxes {
  float: right;
}


.filterButton {
  width: 60%;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 0 auto 17px;
  padding: 5px 0;
  background-color: lightgrey;
}

.filterButton:hover {
  color: #fff;
  background-color: darkgrey;
}

.filterButton:focus {
  color: #fff;
  background-color: darkgrey;
}

#songSelector {
  float: right;
  display: inline-block;
  width: 78.5%;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fefac0;
}

#songSelector li  {
 list-style: none;
 /*float: left;*/
 display: inline-block;
 padding: 0 18px;
 /*margin-bottom: 18px;*/
 border-right: 2px solid #000;
}

#songSelector li:last-child  {
  border-right: none;
}

#songSelector h2  {
  padding-left: 30px;
  color: #785616;
}


.songInfo {
  margin-bottom: 28px;
}


.songInfo h2 {
  margin-bottom: 7px;
  font-size: 1.7em;
  font-weight: normal;
}








/*--------------------
FLOAT CLEARFIX
--------------------*/

.clearfix::after	{
	content: "";
	display: table;
	clear: both;
}

