<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Music History</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

	<body ng-app="musicHistory">
		<div id="mainContent"> <!-- main wrapper for entire content -->
		<!-- main nav bar -->
			<header id="nav-content">
				<nav id="mainNav">
					<ul>
						<li><a href="#">View Music</a></li>
						<li><a href="#">Add Music</a></li>
						<li><a href="#">Profile</a></li>
					</ul>
				</nav>
			</header>

			<div id="song-content" ng-controller="musicHistory">
			<!-- sidebar for filtering song searches -->
				<section id="sidebar">

					<div class="selector">
						<!-- song length slider -->
						<legend>Song length:</legend>
						<input type="range" name="songLength" min="0" max="300" step="1">
					</div>

					<div class="selector">
						<!-- artist drop-down box -->
						<legend>Artist:</legend>
						<select id="artist"
							ng-model="selectedArtist"
							ng-options="item.artist for item in songs">
						</select>
					</div>

					<div class="selector">
						<!-- album drop-down box -->
						<legend>Album:</legend>
						<select id="album"
							ng-model="selectedAlbum"
							ng-options="item.album for item in songs">
						</select>
					</div>

					<div class="selector clearfix">
						<!-- genre checkbox field -->
						<legend id="genreLegend">Genre:</legend>
						<div class="genreCheckboxes">
							<div class="leftCheckboxes">
								<ul>
									<li><input type="checkbox" name="rock" value="rock">Rock</li>
									<li><input type="checkbox" name="pop" value="pop">Pop</li>
									<li><input type="checkbox" name="blues" value="blues">Blues</li>
								</ul>
							</div>

							<div class="rightCheckboxes">
								<ul>
									<li><input type="checkbox" name="classical" value="classical">Classical</li>
									<li><input type="checkbox" name="jazz" value="jazz">Jazz</li>
									<li><input type="checkbox" name="hipHop" value="hipHop">Hip-hop</li>
								</ul>
							</div>
						</div>
					</div>

					<button class="filterButton buttons">Filter</button>
				</section>

			<!-- song name selection box -->
				<section id="songSelector">
					<div class="songInfo" ng-repeat="song in songs">
						<h2>{{song.song}}</h2>
						<ul>
							<li>{{song.artist}}</li>
							<li class="album">{{song.album}}</li>
							<li>{{song.genre}}</li>
							<li><button class="buttons" type="button">Delete</button></li>
						</ul>
					</div>
				</section>

		</div>

		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/jQuery/dist/jquery.min.js"></script>
		<script src="bower_components/firebase/firebase.js"></script>
		<script src="javascripts/app.js"></script>
		<script src="javascripts/controllers/musicHistory.js"></script>
	</body>
</html>
